{% extends 'base.html.twig' %}

{% block title %}Formulaire de création - WFCamp
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3">Création de posts :</h1>

	<div class="w-75 mx-auto" >
		{{ form_start(form) }}
		{{ form_row(form, {'attr': {'class': 'border-4'}}) }}
		<button type="submit" class="btn btn-secondary">{{ action }}</button>
		{{ form_end(form) }}
	</div>

{% endblock %}
